<div class="example-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-flat-button color="primary" routerLink="/" style="cursor: pointer; font-size: large;">
      CalentanaTool
      <mat-icon>dashboard</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Cerrar seccion</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav style="width: 200px" mode="over" (click)="sidenav.toggle()">
      <img src="assets/Logo_arepas_la_calentana.png" style="width: 150px; margin-left: 22px; margin-top: 10px;">
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/insumo">
        <mat-icon>ballot</mat-icon>
        <span>Insumos</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/informe">
        <mat-icon>insert_chart_outlined</mat-icon>
        <span>Informe</span>
      </button>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

</div>
